.App {
  text-align: center;
  clear: both;
}

.App-header {
  background-color: #2b5271;
  padding: 16vw 1vw 2.5vw;
  color: white;
}

.App-header h1 {
  font-size: 4.5vw;
}

.App-header h1 {
  margin-top: 0;
  font-size: 4.5vw;
}

.App-header h2 {
  font-size: 3.4vw;
}

.main {

	margin-left: 25%;
	margin-top: 50px;
}
